/* .container{

width: 660px;
height: 950px;
min-height: 70%;
background-color: #fff;
margin-left: 63%;
margin-top: 2%;
border-radius: 30px;


}

.m-jpg{
margin-left: 5%;
margin-top: 2%;
min-height: 500px;
min-width: 00px;
display: block;


}

.o-jpg{

height: 120px;
width: 140px;

}
.oo-jpg{
    margin-left: 11%;
display: block;
width: 809px;
text-align: center;
}

.button{
    border: none;
    cursor: pointer;
    width: 170px;
    margin-top: 20px;
    margin-left: calc(50% - 85px);
    border-radius: 10px;
    padding: 8px 0px 8px 0px;
    font-size: 23px;
    background-color: #500000;
    color: white;
    outline: 0;
}

.user_id{
color: #500000;
text-decoration: underline; 
float: right;
margin-right: 40px;
margin-top: 5px;
background-color: #fff;
border: none;
cursor: pointer;
font-size: 20px;
}

.name{
    text-align: center;
    font-size: 30px;
    color: #500000;
    margin-top: 15px;
}

.info{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #5e5c55;
    height: 30px;
    line-height: 200%;
    
}

ol{
    list-style-type: none;
}

ol > li {
float: left;
width: 150px;
border-right: 1px solid #5e5c55;

}

*{
    padding: 9px;
}

ol > li:first-child {
border-left: 1px solid #5e5c55;
}

.desc_n{
    margin-top: 110px;
    color: #500000;
    font-size: 30px;

}

.desc{
    color: #5e5c55;
    font-size: 20px;
    border-right: 1px solid #5e5c55;
    border-left: 1px solid #5e5c55;
    margin-left: 3%;
    margin-right: 3%;
    
}

ul{
    list-style-type: none;  
}

ul > li {
    margin-top: 65px;
    float: left;
width: 150px;
}

.contact{
    font-size: 20px;
    color: #5e5c55;
}

.contact1{
    margin-left: -70px;
    font-size: 20px;
    color: #500000;
}

.contact2{
    margin-right: 120px;
    font-size: 20px;
    color: #5e5c55;
}


.arrow{
    height: 80px;
width: 100px;
margin-bottom: 12%;
}






 */


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 699px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .button{
    border: none;
    cursor: pointer;
    width: 150px;
    margin-top: 5px;
    margin-left: 275px;
    
    border-radius: 10px;
    padding: 8px 0px 8px 0px;
    font-size: 23px;
    background-color: #500000;
    color: white;
    outline: 0;
}

.info{
    width: 90%;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #5e5c55;
    height: 30px;
    line-height: 200%;
    
}
    


.name{

    width: 700px;
    text-align: center;
    font-size: 30px;
    color: #500000;
    margin-top: 15px;
}

.container{
    border-radius: 30px;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #fff;
    width: 700px;
    height: 950px;
    float: right;

}


h2{
    color: #5e5c55;
    font-size: 25px;
}

p{
    font-size: 25px;
}


    .user_id{
        color: #500000;
        text-decoration: underline; 
        text-align: right;
        outline: 0;
        margin-top: 2px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        font-size: 20px;
        width: 660px;
        
        }

        .column {
            margin-top: 40px;
           padding: 15px;
            border-right: 1px solid #5e5c55;
            min-width: 155px; 
            max-width: 155px;
            float: left;
            text-align: center;
            
            height: 40x; 
            
          }
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          .row.row{
              min-width: 700px;
          }
          .column:first-child{
              margin-left: 40px;
            border-left: 1px solid #5e5c55;
          }

          .desc{
              border-left: 1px solid #5e5c55;
              border-right: 1px solid #5e5c55;
              margin-top: 10px;
              width: 620px;
              padding: 15px;
              font-size: 20px;
              color: #5e5c55;
              float: center;
              margin-left: 40px;
              margin-right: 40px;
          }

          .desc1{
              color: #500000;
              font-size: 32px;
              margin-top: 40px;
              width: 600px;
              margin-left: 40px;

          }

         .contact{
                margin-top: 40px;
               padding: 15px;
               width: 700px;
                min-width: 155px; 
                max-width: 155px;
                float: left;
                text-align: center;
                height: 40x; 
                
              }