<!-- <div class="body">
<div class="m-jpg">
        <img class="arrow" src="https://image.flaticon.com/icons/svg/32/32542.svg">
        <img src="https://www.wykop.pl/cdn/c3201142/comment_1ynnTLTpudyAVzSA1ROZGhUGab1KJxeK.jpg" alt="Main image"  height="500px" width="800px">
        <img class="arrow" src="https://image.flaticon.com/icons/svg/32/32213.svg">
        


</div>



<div class="oo-jpg">
        <img class="o-jpg" src="https://www.wykop.pl/cdn/c3201142/comment_1ynnTLTpudyAVzSA1ROZGhUGab1KJxeK.jpg" alt="Main image">
        <img class="o-jpg" src="https://www.wykop.pl/cdn/c3201142/comment_1ynnTLTpudyAVzSA1ROZGhUGab1KJxeK.jpg" alt="Main image">
        <img class="o-jpg" src="https://www.wykop.pl/cdn/c3201142/comment_1ynnTLTpudyAVzSA1ROZGhUGab1KJxeK.jpg" alt="Main image">
        <img class="o-jpg" src="https://www.wykop.pl/cdn/c3201142/comment_1ynnTLTpudyAVzSA1ROZGhUGab1KJxeK.jpg" alt="Main image">

</div>



<div class="container">
<p class="name"><b>Kolorowy sweter</b></p>
<button type="submit" class="button">Wymień się</button>
<button class="user_id">Tomek</button>
<div class="info"><ol>
<li>Rozmiar <br> XXL</li>
<li>Firma <br> Bershka</li>
<li>Dział <br> Dla niej</li>
<li>Lokalizacja <br> Warszawa</li>
</ol> 
 </div>
 <div class="desc_n">
<b>Opis produktu</b>
 </div>
 <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ab tempora
      similique quibusdam nihil odio deleniti sint minima enim quae aperiam quisquam, repudiandae
       corporis reprehenderit nostrum, corrupti fuga, nesciunt ipsum.</p>
       
<div class="contact">
    
    <ul>
        <li class="contact2">Kontakt:</li>
        <li class="contact1">tomek@.pl</li>
        <li class="contact">lub</li>
        <li class="contact1">123456789</li>

    </ul>

</div>


</div>
</div>



 -->


<div class="container">
<div class="col-5">
<h1 class="name">Kolorowy Sweter</h1>
<button type="submit" class="user_id">Tomek</button>
<button type="submit" class="button">Wymień się</button>
<div class="row">
        <div class="column" >
          <h2>Rozmiar</h2>
          <p style="color:#500;">XXL</p>
        </div>
        <div class="column" >
          <h2>Firma</h2>
          <p style="color:#500;">Firma</p>
        </div>
        <div class="column" >
          <h2>Rodzaj</h2>
          <p style="color:#500;">Dla niej</p>
        </div>
        <div class="column" >
          <h2>Lokalizacja</h2>
          <p style="color:#500;">Warszawa</p>
        </div>
      </div>

      <div class="desc1">Opis produktu</div>
      <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores perferendis
           iste provident optio magni hic culpa pariatur iusto dicta dolor, sit dignissimos. Debitis temporibus maxime eos,
            nam nihil recusandae totam?</div>

            <div class="contact">
<p>Kontakt</p>
<p>fafwa@.pl</p>
<p>lub</p>
<p>545435421</p>





            </div>
 </div>
</div>





 

 

