.content{
    background-image: url(src\images\back.jpg);
    
    /* filter: brightness(0.4); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    height: 100vh;
}
 .main{
    filter: none !important;
    color: white !important;
    text-shadow: 1.5px 1.5px black;
    font-weight: 700;
     font-size: 8vh;
     text-align: center;
     margin-top: 30vh;
     
}
.about{
/* float: right; */
color: rgb(49, 49, 49)  !important;
text-decoration: none;
margin-top: 7vh;
text-align: center;
margin-left: 55vw;
text-shadow: 1.5px 1.5px black;

font-weight: 400;
font-size: 13vh;
}
.about:hover{
    color: rgb(60, 60, 60);
    
font-size: 14vh;
}