<div class="content">
  <!-- <div class="titleBanner">
    <div class="element"> 
      <h2>STRONA GŁÓWNA</h2>
    </div>2
   </div> -->
  <!-- <div *ngIf="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>
   
  <ng-template #loggedOut>
    Please login.
  </ng-template> -->
  
    <h1 class="main">Tradee - Kim jesteśmy?</h1>
    <!-- <div id="title-container" style="width: 100%"> -->

    <a class="about" href="/about-us">O nas..</a>
  <!-- </div> -->
</div>