/* <!-- ========== NAV ========== -->  */
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* min-height: 10vh; */
    height: 100px;
    background-color: #ffffff;
    z-index: 1;
}
.logo{
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px;
    font-size: 20px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 5;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    /* margin-right: 100px; */
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #111111;
    text-decoration: none;
    /* letter-spacing: 3px; */
    /* text-transform: uppercase; */
    /* font-weight: bold; */
}

#menu{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
}
.burger div{
    background-color: #111111;
    width: 25px;
    height: 3px;
    margin: 5px;
}



/* <!-- ========== CONTEINER ========== -->  */
.container{
    padding-top: 100px;
    top: 100px;
    height: 100%;
    left: 0;
    right: 0;
    flex: 1;
}


/* <!-- ========== FOOTER ========== -->  */

  .footer {
    margin-top: auto;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    height: auto;
    background-color: #111111;
  }
  .contain{
      display: flex;
      justify-content: center;
      /* align-items: center; */
  }
  .footer .col {
    width: 190px;
    height: auto;
    /* float: left; */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    text-decoration: none;
  }
  .social ul li {
    display: inline-block;
    padding-right: 13px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }

  @media screen and (max-width: 768px) {
    .contain {
        display: inline;
      }
        .footer .col {
        width: 50%;
        float: left;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
 


/* <!-- ========== MEDIA ========== -->  */

@media screen and (max-width: 1024px){
    .nav-links{
        width: 65%;
    }
}
@media screen and (min-width: 768px){
    #menuToggle{
        height: calc(100vh - 100%);
        z-index: -1;
        display: none;
    }
    #menuToggle span{
        height: calc(100vh - 100%);
        z-index: -1;
        display: none;
    }
    #menuToggle input{
        height: calc(100vh - 100%);
        z-index: -1;
        display: none;
    }
    #menuToggle ul{
        height: calc(100vh - 100%);
        z-index: -1;
        display: none;
    }
    #menuToggle li{
        height: calc(100vh - 100%);
        z-index: -1;
        display: none;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top: 100px;
        height: calc(100vh - 100%);
        background-color: #ffffff;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 50%;

        z-index: -1;
        transform: translateX(100%);
        transition: transform 1.5s ease-in;
    }
    
    /* .nav-links li{
        opacity: 1;
    }
    #menu{
        display: block;
    }
    nav input[type="checkbox"]{
        display: none;
    } */
    /* #menu:checked ~ .nav-links {
        display: flex; */
        /* transform: translateX(100%);
        transition: transform 1.5s ease-in; */
    /* }  */
    #nav-icon{
        font-size: 30px;
        color: black;
    }
    


    .contain {
        display: inline;
      }
        .footer .col {
        width: 50%;
        float: left;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
    
}

@media screen and (max-width: 440px) {
    .footer .col {
      width: 100%;
    }
  }



#menuToggle
{
  display: block;
  position: absolute;
  /* top: 10px; */
  right: 25px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #acacac;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* #menuToggle input:checked ~ #menuul
{
  opacity: 0.6;
} */

#menuul
{
  position: fixed;
  width: 300px;
  margin: 0px 0 0 -150px;
  padding: 50px;
  /* padding-top: 125px; */
  /* border-radius: 20px; */
  background-color: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuul li
{
  padding: 10px 0;
  font-size: 18px;
  
}

#menuul a
{
    
  text-decoration: none;
  color: black;
}
