<nav>
  <div routerLink="/home" class="logo">
    <h1>Tradee</h1>
  </div>

  <ul class="nav-links">
    <li><a href="/trades">Zobacz wymiany</a></li>
    <li><a href="/create-trade">Dodaj wymianę</a></li>
    <li><a href="/about-us">O nas</a></li>
    
    <!-- <div *ngIf="info.token; else loggedOut"> -->
    <li *ngIf="info.token; else loggedOut" (click)="logout()" ><a href="/user/my-profile">Wyloguj</a></li>
    <li *ngIf="info.token"><a href="/user/my-profile">Mój profil</a></li>
      <!-- </div> -->
      <ng-template #loggedOut><li #loggedOut><a href="/auth/login">Zaloguj się</a></li></ng-template>
  </ul>
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <!-- <label for="menu" id="nav-icon" >&#9776;</label> -->

    <ul id="menuul">
      <li><a href="/trades">Zobacz wymiany</a></li>
      <li><a href="/create-trade">Dodaj wymianę</a></li>
      <li><a href="/about-us">O nas</a></li>
      <li><a href="/auth/login">Zaloguj się</a></li>
    </ul>

  </div>

</nav>



<!-- ========== ROUTER-OUTLET ========== -->
<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- ========== FOOTER ========== -->
<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>Tradee</h1>
      <ul>
        <li> &copy; TRADEE. Wszelkie prawa zastrzerzone. </li>
      </ul>
    </div>
    <div class="col">
      <h1>Przydatne linki</h1>
      <ul>
        <a href="/home">
          <li>Strona Główna</li>
        </a>
        <a href="/about-us">
          <li>O nas</li>
        </a>
        <!-- <a href="">
          <li>Regulamin</li>
        </a> -->
      </ul>
    </div>
    <div class="col">
      <h1>Kontakt</h1>
      <ul>
        <li><i class="fa fa-envelope" aria-hidden="true"></i> support@tradee.pl</li>
      </ul>
    </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><a href=""><i class="fa fa-facebook" style="color: white" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" style="color: white" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-youtube" style="color: white"  aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- END OF FOOTER -->