/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background-color: #EBEBEB;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    width: 100%;
    /* padding-top: 100px;
    padding-bottom: auto; */
}	


  
.titleBanner{
    width: 100%;
    background: #78A422;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    border-bottom: 5px  #707070;
    padding: 1rem;
}


/* @media (orientation: landscape){}

@media(min-width: 530px){}
@media(min-width: 530px) and (orientation: portrait){}

@media(min-width: 768px){}
@media(min-width: 768px) and (orientation: portrait){}

@media(min-width: 1024px){}
@media(min-width: 1024px) and (orientation: portrait){}

@media(min-width: 1280px){}
@media(min-width: 1280px) and (orientation: portrait){}

@media(min-width: 1600px){}
@media(min-width: 1600px) and (orientation: portrait){} */



/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
