<div class="nav1">
<button class="button" form="submit">Kategorie</button>
<button class="button" form="submit">Filtry</button>
<button class="button" form="submit">Sortowanie</button>
<button class="button" form="submit">Lokalizacja</button>
</div>



<div class="offer1">
<img class="img" src="https://www.wykop.pl/cdn/c3201142/comment_1ynnTLTpudyAVzSA1ROZGhUGab1KJxeK.jpg">

<p class="name">Sweter kolorowy</p>
<button class="button_w" form="submit">Wymień się</button>
<div class="b_i">
<p class="info">XS :</p>
<p class="info">Firmaubran :</p>
<p class="info">Dla niego :</p>
<p class="info">Warszawa :</p>
<div class="border"></div>
</div>
<div class="avatar"><img class="avatar" src="https://gfx.wiadomosci.radiozet.pl/var/radiozet-wiadomosci/storage/images/polska/andrzej-duda-2-lata-temu-zostal-wybrany-na-prezydenta-galeria-memow/64422-1-pol-PL/Druga-rocznica-wyboru-Andrzeja-Dudy-na-prezydenta.-Zobacz-najlepsze-memy-GALERIA_article.jpg"></div>

<div class="nickname">Andrzej5r3252</div>



</div>






<div class="offer">
        <img class="img" src="https://0.allegroimg.com/s512/0144ab/e15022c4444092960458e2344a80/TRU-TRUSSARDI-BIALA-KOSZULA-SLIM-FIT-41-62">

<p class="name">Koszula</p>
<button class="button_w" form="submit">Wymień się</button>
<div class="b_i">
<p class="info">XS: </p>
<p class="info">Firmaubran: </p>
<p class="info">Dla niej   :</p>
<p class="info">Warszawa    : </p>
<div class="border"></div>
</div>
<div class="avatar"><img class="avatar" src="https://gfx.wiadomosci.radiozet.pl/var/radiozet-wiadomosci/storage/images/polska/andrzej-duda-2-lata-temu-zostal-wybrany-na-prezydenta-galeria-memow/64422-1-pol-PL/Druga-rocznica-wyboru-Andrzeja-Dudy-na-prezydenta.-Zobacz-najlepsze-memy-GALERIA_article.jpg"></div>

<div class="nickname">Andrzej</div>



</div>



