.nav1{
    margin-bottom: 40px;
    height: 40px;
    margin-left: 10%;
    background-color: #fff;
    margin-top: 0px;
    float: left;
    width: 80%;
    border-left:1px solid #5e5c55;
    border-right:1px solid #5e5c55;
    margin-bottom: 20px;
}

.button{
    
    text-align: center;
        background-color: #fff;
        color: #5e5c55;
        font-size: 90%;
        border: none;
        border-bottom: 1px solid #5e5c55;
        border-top: 1px solid #5e5c55;
        cursor: pointer;
        width: 25%;
        float: left;
        height: 40px;
        outline: 0;
        padding: 0 10px 0 10px;
}

.offer1{
    margin-top: 60px;
    background-color: #500;
    width: 70%;
    height: 160px;
    margin-left: 15%;
    margin-bottom: 40px;
    
}


.offer{
    margin-top: 10px;
    background-color: #500;
    width: 70%;
    height: 160px;
    margin-left: 15%;
    margin-bottom: 40px;
  
}

.img{
    float: left;
    height: 160px;
    width: 25%;
}

.name{
text-align: center;
font-size: 20px;
letter-spacing: 1px;
color: #fff;
padding-top: 20px;
margin-left: 279,81px;
}
.button_w{
    
    text-align: center;
    border: none;
    cursor: pointer;
    width: 150px;
    margin-top: 15px;
    float: left;
    margin-left: calc(50% - 235px);
    border-radius: 10px;
    padding: 4px 0px 4px 0px;
    font-size: 23px;
    background-color: #fff;
    color: #500;
    outline: 0;
}

.info{
    text-align: center;
    display: inline-block;
    padding-right: 10px;
    color: #fff;
}

.b_i{
    width: 1119,3px;
   text-align: center;
height: 60px;
margin-left:559,62px;
margin-top: 70px;

}



.avatar{
    margin-right: 100px;
    margin-top: -60px;
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.nickname{
    color: #fff;
    margin-left: 1100px;
    margin-top: -108px;
    float: left;
}