<hr>
<div class="container">
<div class="register">
<p class="text">Klikając 'Potwierdź' aktywujesz swoje konto w serwisie Tradee.</p>
<button class="loginbtn" (click)="confirmMail()">Potwierdź</button>
</div>
</div>
