<!-- <div *ngIf="isSignedUp; else signupForm">
    Your registration is successful. Please login!
  </div>
   
  <ng-template #signupForm>
    <div class="row col-sm-6" style="max-width:350px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="firstname">Your firstname</label>
          <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" #name="ngModel" required />
          <div *ngIf="f.submitted && firstname.invalid">
            <div *ngIf="firstname.errors.required">firstname is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" #username="ngModel"
            required />
          <div *ngIf="f.submitted && lastname.invalid">
            <div *ngIf="lastname.errors.required">lastname is required</div>
          </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
            <div *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" name="phone" [(ngModel)]="form.phone" #phone="ngModel" required phone minlength="9" maxlength="11" />
            <div *ngIf="f.submitted && phone.invalid">
              <div *ngIf="phone.errors.required">Phone is required</div>
              <div *ngIf="phone.errors.phone">Phone must be a valid phone number</div>
            </div>
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
            required minlength="6" />
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Register</button>
          <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
            Signup failed!<br/>{{errorMessage}}
          </div>
        </div>
      </form>
    </div>
  </ng-template> -->



<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <form>
    <div class="container">

      <hr>

      <div class="register">

        <h1>Zarejestruj się</h1>


        <label for="firstname">
          <p class="text">Imię</p>
        </label>
        <input type="text" placeholder="Wpisz imię" name="firstname" class="form-control" [(ngModel)]="form.firstname"
          #name="ngModel" required>

        <label for="lastname">
          <p class="text">Nazwisko</p>
        </label>
        <input type="text" placeholder="Wpisz nazwisko" name="lastname" required class="form-control" name="lastname"
          [(ngModel)]="form.lastname" #username="ngModel">

        <label for="email">
          <p class="text">Adres e-mail</p>
        </label>
        <input type="text" placeholder="Wpisz email" class="form-control" name="email" [(ngModel)]="form.email"
          #email="ngModel" required email>

        <label for="password">
          <p class="text">Hasło</p>
        </label>
        <input type="password" placeholder="Wpisz hasło" class="form-control" name="password"
          [(ngModel)]="form.password" #password="ngModel" required minlength="6">
        <label for="phone">
          <p class="text">Numer Telefonu</p>
        </label>
        <input type="number" placeholder="Wpisz numer telefonu" class="form-control" name="phone"
          [(ngModel)]="form.phone" #phone="ngModel" required phone minlength="9" maxlength="11">


        <button type="submit" (click)="onSubmit()" class="registerbtn">Zarejestruj się</button>
      </div>
    </div>

  </form>
</ng-template>