<div class="form-container">
<div class="title">Twoje ogłoszenie</div>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="make-offer-form">
  <div class="form-left">
    <div class="form-group">
      <label for="title">Nazwa:</label>
      <input type="text" class="form-control" name="title" placeholder="Nazwa ubrania" [(ngModel)]="form.title" #title="ngModel" required />
      <div *ngIf="f.submitted && title.invalid">
        <div *ngIf="title.errors.required" class="error">name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="sex"></label>
      <select name="sex" id="sex" class="form-control small3-input" [(ngModel)]="form.sex">
        <option disabled hidden selected value="">Dział</option>
        <option *ngFor="let sex of availableSex" [value]="sex.label">{{ sex.name }}</option>
      </select>




      <select  name="category" class="form-control small3-input" id="category" [(ngModel)]="form.categories" required>
        <option disabled hidden selected value="">Kategoria</option>
        <option  *ngFor="let category of availableCategories" [ngValue]="category">{{category.name}} </option>
      </select>




      <input type="text" class="small3-input form-control" placeholder="Rozmiar" name="size" [(ngModel)]="form.size" #size="ngModel" required  />
      <div *ngIf="f.submitted && size.invalid">
        <div *ngIf="size.errors.required" class="error">size is required</div>
      </div>
    </div>
    <div class="form-group">
      <div class="label" style="transform: translateY(-15vh);">Opis:</div>
      <textarea class="form-control description" name="description" [(ngModel)]="form.description"
      #description="ngModel" required
placeholder="Opis ubrania" ></textarea>
      <div *ngIf="f.submitted && description.invalid">
        <div *ngIf="description.errors.required" class="error">description is required</div>
      </div>
    </div>
    <div class="form-group">
      <label></label>
      <select 
        (ngModelChange)="updateCounties($event)" 
        name="province" id="province"  class="form-control small2-input" 
         [(ngModel)]="form.province">

        <option disabled hidden selected value="">Województwo</option>
        <option *ngFor="let province of availableProvinces"
            [ngValue]="province">{{province.name}} </option>

      </select>
      <select name="county" id="county"[(ngModel)]="form.county" class="form-control small2-input"  required>
        <option disabled hidden selected value="">Powiat</option>
        <option *ngFor="let county of availableCounties" [ngValue]="county">{{county.name}} </option>
      </select>
    </div>
    <br />
    <!-- <br> -->
    <div class="form-group">
      <label style="transform: translateY(-15vh);">Prześlij zdjęcia:</label>
      <div ng2FileDrop [uploader]="uploader" class="drop-zone">
        <div id="upload-content">
          <p>Prześlij zdjęcia</p>
        </div>
        <input type="file" ng2FileSelect accept="image/*" [uploader]="uploader" multiple class="file-input" />
      </div>
    </div>
  </div>
  <div class="form-right">
    <!-- <div class="highlight-offer-container">
      <div class="highlight-offer">
        <p>Chcesz wyróżnić swoją ofertę?</p>
        <p class="link">Kliknij <a href="">TUTAJ</a></p>
      </div>
    </div> -->
    <div class="btn-container">
      <!--Button uploading photos and sending offer-->
      <div class="form-group">
        <button class="btn btn-primary" (click)="onSubmit()">Ogłoś</button>
        <div *ngIf="f.submitted && isTradeCreatedFailed" class="alert alert-warning">
          Signup failed!<br />{{errorMessage}}
        </div>
      </div>
    </div>
  </div>
</form>
</div>
