.title
{
  margin: 0;
  margin-top: 6vh;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI';
  font-size: 40px;
}
.make-offer-form
{
  width: 100%;
  height: calc(200px+30vh);
}
.form-left {
  font-family: 'Segoe UI';
  font-size: 22px;
  margin-top: 3.4vh;
  margin-left: 4.3vw;
  width: 64.5%;
  height: calc(200px+30vh);
  min-height: 300px;
  min-width: 800px;
  border-right-style: solid;
  border-right-color: #888;
  border-right-width: 2px;
  display: inline-block;
}
.form-right {
  font-family: 'Segoe UI';
  font-size: 22px;
  width: 30%;
  height: 40vw;
  min-height: 300px;
  min-width: 300px;
  display: inline-block;
  position: static;
  transform: translateY(-30px);
}
.form-group
{
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  vertical-align:bottom;
}
.label, label
{
  width: 15vw;
  height: 100%;
  display: inline-block;
  text-align: center;
  position: static;
}

.btn {
  background-color: #BA0000;
  color: white;
  padding: 2%;
  font-size: 25px;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
  margin-left: calc(50% - 100px);
  border-radius: 15px;
  outline: 0;
}

input:focus[type=text], input[type=password] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #9f9f9f;
  background: #9f9f9f;
  border-radius: 15px;
  color: #e6e6e6;
  font-size: 15px;
  outline: 0;
}

input[type=text], input[type=password] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #9f9f9f;
  background: #d9d9d9;
  border-radius: 15px;
  color: #9f9f9f;
}


  input[type=password]:focus, input[type=password]:focus {
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #9f9f9f;
    background: #d9d9d9;
    border-radius: 15px;
    color: #9f9f9f;
  }

  input:focus[type=password]:focus, input[type=password]:focus {
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #9f9f9f;
    background: #9f9f9f;
    border-radius: 15px;
    color: #e6e6e6;
    font-size: 15px;
    outline: 0;
  }




select:focus {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #9f9f9f;
  background: #9f9f9f;
  border-radius: 15px;
  color: #e6e6e6;
  font-size: 15px;
  outline: 0;
}

select{
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #9f9f9f;
  background: #d9d9d9;
  border-radius: 15px;
  color: #9f9f9f;
}
.small3-input
{
  width: 13.33% !important;
}
.small2-input {
  width: 20% !important;
}
.file-input
{
  width: 100%;
  height: 100%;
  opacity: 0;
}
.drop-zone {
  margin: 0;
  display: inline-block;
  height: 15vh;
  width: 40%;
  position: relative;
  overflow: hidden;

  
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #9f9f9f;
  background: #d9d9d9;
  border-radius: 15px;
  color: #9f9f9f;
  outline: 0;
}
.description:focus {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #9f9f9f;
  background: #9f9f9f;
  border-radius: 15px;
  color: #e6e6e6;
  font-size: 15px;
  outline: 0;
  height: 15vh;
  resize: none;
}

.description {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #9f9f9f;
  background: #d9d9d9;
  border-radius: 15px;
  color: #9f9f9f;
  font-size: 15px;
  outline: 0;
  height: 15vh;
  resize: none;
}
.highlight-offer-container {
  height: 90%;
  padding: 10px;
  position: relative;
  bottom: 0;
}
.highlight-offer {
  height: 20%;
  margin: 0;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.link {
  margin-top: 20px;
}
a {
  color: black;
}
.btn-container {
  height: 10%;
  padding: 10px;
  position: relative;
  bottom: 0;
}
#upload-content {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
textarea {
  font-family: 'Segoe UI';
}

.form-containr {
  height: calc(200px+30vh);
}
