<!-- <ng-template > -->
<!-- <div class="row col-sm-6" style="max-width:350px;">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="newPassword">Nowe hasło</label>
                <input type="password" class="form-control" name="newPassword" [(ngModel)]="form.newPassword" #newPassword="ngModel"
                    required />
                <div *ngIf="f.submitted && newPassword.invalid">
                    <div *ngIf="newPassword.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Apply</button>
                <div *ngIf="f.submitted" class="alert alert-danger">
                    Password reset failed: {{errorMessage}}
                </div>
            </div>
        </form>
    </div> -->
<!-- </ng-template> -->
<hr>
<div class="register">
    <label for="newPassword">
        <p class="text">Hasło</p>
    </label>
    <input type="password" placeholder="Wpisz nowe hasło" class="form-control" name="newPassword"
        [(ngModel)]="form.newPassword" #newPassword="ngModel" required>

    <button type="submit" (click)="onSubmit()" class="loginbtn">Zmień hasło</button>
</div>