input:focus[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #9f9f9f;
    background: #9f9f9f;
    border-radius: 15px;
    color: #e6e6e6;
    font-size: 15px;
    outline: 0;
    
  }
  
  input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: 2px solid #9f9f9f;
      background: #d9d9d9;
      border-radius: 15px;
      color: #9f9f9f; 
      
    }
  
    
  input[type=password]:focus, input[type=password]:focus {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: 2px solid #9f9f9f;
      background: #d9d9d9;
      border-radius: 15px;
      color: #9f9f9f;
      
  }
  
  input:focus[type=password]:focus, input[type=password]:focus {
      width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #9f9f9f;
    background: #9f9f9f;
    border-radius: 15px;
    color: #e6e6e6;
    font-size: 15px;
    outline: 0;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 2x solid #f1f1f1;
    
    
  }
  
  /* Set a style for the submit/register button */
  .loginbtn {
    background-color: #BA0000;
    color: white;
    padding: 2%;
    font-size: 25px;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
    margin-left: calc(50% - 100px);
    border-radius: 15px;
    outline: 0;
    
  }
  
  .loginbtn:hover {
    opacity:1;
    
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  /*Text over input*/
  .text {
    margin-top: 300px;
      margin-left: 4px;
  }
  
  .register {
      height: 100%;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      min-width: 400px;
      background-color: white;
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 1%;
      padding-bottom: 20%;
  }
  
  h1 {
      text-align: center;
      margin-bottom: 20px;
  }
  
  h2{
      margin-top: 15px;
      padding-top: 30px;
      padding-bottom: 15px;
      text-align: center;
  }
  
     .reco{
         padding-top: 20px;
         padding-bottom: 15px;
         text-align: center;
     }
  
  .passrec {
      
      background-color: #BA0000;
      color: white;
      padding: 2%;
      font-size: 25px;
      border: none;
      cursor: pointer;
      width: 200px;
      opacity: 0.9;
      margin-left: calc(50% - 100px);
      border-radius: 15px;
      outline: 0;
  }
  
  
  .regbtn {
      background-color: #BA0000;
      color: white;
      padding: 2%;
      font-size: 25px;
      border: none;
      cursor: pointer;
      width: 200px;
      opacity: 0.9;
      margin-left: calc(50% - 100px);
      border-radius: 15px;
      outline: 0;
  }
  
  .loginbtn:hover {
      opacity:1;
  }
  
  .regbtn:hover {
      opacity:1;
  }
  
  .passrec:hover {
      opacity:1;
  }