<!-- <div *ngIf="isLoggedIn; else loggedOut">
    You had remebered your password ;)
  </div>

<ng-template #loggedOut>
    <div class="row col-sm-6" style="max-width:350px;">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="email">e-mail</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel"
                    required />
                <div *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Apply</button>
                <div *ngIf="f.submitted" class="alert alert-danger">
                    Password reset failed: {{errorMessage}}
                </div>
            </div>
        </form>
    </div>
</ng-template> -->



<hr>
<div class="register">

    <label for="email">
        <p class="text">E-mail</p>
    </label>
    <input type="text" placeholder="Podaj swój e-mail" class="form-control" name="email" [(ngModel)]="form.email"
        #email="ngModel" required>



    <button type="submit" (click)="onSubmit()"  class="loginbtn">Przywróć hasło</button>
</div>