<div class="container1">
<div class="content">
    <div class="article">
        <div class="pimg1">
            <div class="ptext">
                <span class="border ">
                    Czym jest TRADEE?
                </span>
            </div>
        </div>

        <section class="section section-light">
            <h2></h2>
            <p>
                „Zmień swoje myśli, a zmienisz swój świat” – Norman Vincent Peale
            </p>
        </section>

        <div class="pimg2">
            <div class="ptext">
                <span class="border">
                    Wymiana lokalna - z ręki do ręki
                </span>
            </div>
        </div>

        <section class="section section-dark">
            <h2>Kim jesteśmy?</h2>
            <p>
                Tradee powstało w trosce o środowisko które w obecnych czasach jest intensywnie wyniszczane.
                Nasza strona ma na celu ułatwienie ci wymienianie przedmiotów, których już nie używasz, na nowe.
                Wymieniając się z innymi użytkownikami przyczyniasz się również, do ratowania naszej planety. 
                Ograniczasz eksploatację surowców, A dodatkowo zyskujesz nową rzecz! Ubrania, które kupione były tylko
                na jedną okazję i zalegają w szafie mogą dostać od Ciebie nowe życie. To ty decydujesz z kim i na co
                się wymienisz. Nabywanie nowego ubrania przestało wiązać się z jakimikolwiek kosztami – twoimi
                i ziemi dołącz do społeczności Tradee i ciesz się wymianą przedmiotów już od dziś!
            </p>
        </section>

        <div class="pimg3">
            <div class="ptext">
                <span class="border ">
                    Dbajmy o Ziemię
                </span>
            </div>
        </div>

        <section class="section section-dark">
            <h2>Wymieniając się dbasz o naszą planetę!</h2>
            <p>
             Jedna wymiana to ponad tysiąc litrów zaoszczędzonej wody.
            </p>
        </section>

        <div class="pimg4">
            <div class="ptext">
                <span class="border">
                    TRADEE - TRADE & TREE
                </span>
            </div>
        </div>
    </div>
</div>
