.article{
    top: 100px;
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#ebebeb;
  }
  
  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity: 0.8;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('https://www.nasdaq.com/sites/acquia.prod/files/image/988c87e0e28f3af33a77c2ce5155af49f8b831d6_cash-man-handing-over.jpg');
    min-height:400px;
  }
  
  .pimg2{
    background-image:url('https://www.nasdaq.com/sites/acquia.prod/files/image/988c87e0e28f3af33a77c2ce5155af49f8b831d6_cash-man-handing-over.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('https://beatingtrauma.com/wp-content/uploads/2017/11/dreamstime_l_8147924-e1510771934245.jpg');
    min-height:400px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#282e34;
    color:#f4f4f4;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#f4f4f4;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:5px;
    /* text-transform:uppercase; */
  }
  
  .ptext .border{
    border-radius: 28px;
    background-color:#282e34;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
  
  
