<!-- <div *ngIf="isLoggedIn; else loggedOut">Jesteś już zalogowany.</div> -->
  
  <!-- <ng-template #loggedOut>
    <div class="row col-sm-6" style="max-width:350px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
            required /> -->
          <!-- <div *ngIf="f.submitted && username.invalid"> -->
            <!-- <div *ngIf="username.errors.required">Username is required</div> -->
          <!-- </div> -->
        <!-- </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" -->
            <!-- required minlength="6" /> -->
          <!-- <div *ngIf="f.submitted && password.invalid"> -->
            <!-- <div *ngIf="password.errors.required">Password is required</div> -->
            <!-- <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div> -->
          <!-- </div> -->
        <!-- </div>
        <div class="form-group">
          <button class="btn btn-primary">Login</button> -->
          <!-- <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div> -->
        <!-- </div>
      </form>
      <p>Forgot password?</p>
      <a href="auth/reset-password" class="btn btn-success">Recover access</a>
      <hr />
      <p>Don't have an account?</p>
      <a href="signup" class="btn btn-success">Sign Up</a>
    </div>
  </ng-template> --> 


<hr>
<div class="container">
  <div class="register">

    <h1>Zaloguj się</h1>

  <label for="username"><p class="text">Login</p></label>
  <input type="text" placeholder="Podaj swój e-mail" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
  required >
  
  <label for="password"><p class="text">Hasło</p></label>
  <input type="password" placeholder="Wpisz swoje hasło" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" 
  required minlength="9" >

  <button type="submit" (click)="onSubmit()" class="loginbtn">Zaloguj się</button>

  <h2>Nie masz jeszcze konta?</h2>

  <button type="button" (click)="redirectToSignUp()" class="regbtn">Zarejestruj się</button>

  <h3 class="reco">Zapomniałeś hasła? </h3>
    <button type="button" (click)="redirectToResetPassword()"  class="passrec">Przywróć hasło</button>
  </div>
</div>